doctype html
html(lang="en")
    head
        title="Nodeboard"
        script(src='/js/jquery.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/client.js')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/app.css')

    body
        br
        #nonarena.col-xs-3
            #conversation
                ul#content.list-unstyled
            #controls
                | Message: 
                input#field.input(style='width:300px;', autocomplete='off', onkeydown="if(event.keyCode == 13) document.getElementById('sendbtn').click()")
                br
                br
                input#sendbtn.btn.btn-primary(type='button', value='send')
        #board.col-xs-9
            canvas#canvas.col-xs-10(style='border:5px solid #444;' width='800' height='550')
            .col-xs-2
                br
                input#clearbtn.btn.btn-primary(type='button', value='Clear Board')
                br
                br
                b="Shortcuts:"
                br
                li="Shift +"
                li="Shift -"
                canvas#tools(style='border:2px solid #000;border-radius:10px;' width='100' height='250')