doctype html
html(lang="en")
    head
        title="Nodeboard"
        script(src='/js/jquery.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/client.js')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/app.css')

    body
        br
        #nonarena
            #conversation
                ul#content.list-unstyled
            #controls
                | Message: 
                input#field.input(style='width:300px;', autocomplete='off', onkeydown="if(event.keyCode == 13) document.getElementById('sendbtn').click()")
                br
                br
                input#sendbtn.btn.btn-primary(type='button', value='Send')
                input#chu.btn.btn-primary(type='button', value='Change Name')
        #board
            canvas#canvas(style='border:5px solid #444;' width='750' height='550')
            #palette
                input#clearbtn.btn.btn-primary(type='button', value='Clear Board')
                br
                br
                input#customcolor.btn.btn-primary(type='button', value='Custom Color')
                br
                br
                #brushsz
                br
                canvas#tools(style='border:2px solid #000;border-radius:10px;' width='160' height='80')
                br
                b="Shortcuts:"
                br
                li="Shift +"
                li="Shift -"
                br
                strong(style="font-size:20px;")
                    u Online Now
                #online
                    ul#activeusers.list-unstyled
